<div class="members-selector" style="width:100%;text-align:center;">
  <nz-transfer [nzDataSource]="list" [nzRender]="render" nzShowSearch [nzTitles]="titles" [nzListStyle]="listStyle"
    [nzItemUnit]="'item.node'|translate" [nzItemsUnit]="'item.nodes'|translate" [nzFilterOption]="filterOption"
    (nzChange)="change($event)">
    <ng-template #render let-item>
      <span class="item">
        <i nz-icon nzType="number" nzTheme="outline"></i>
        <span>{{item.member.address}}:{{item.member.port}}</span>
      </span>
      <span class="hostname">{{item.member.hostname}}</span>
    </ng-template>
  </nz-transfer>
</div>
