<div style="height: 100%;">
  <nz-divider [nzText]="'tips.buildRequest'|translate" nzOrientation="left"></nz-divider>
  <nz-tabset nzAnimated="false" nzSize="small" nzType="card" nzTabPosition="top" nzTabBarGutter="4"
    [(nzSelectedIndex)]="tabIndex">
    <nz-tab [nzTitle]="'item.request'|translate">
      <nz-input-group style="width:100%;" [nzAddOnBefore]="nameTpl">
        <ng-template #nameTpl>
          <div style="width:58px;text-align:left;">
            <span>{{'item.name'|translate}}</span>
          </div>
        </ng-template>
        <input type="text" style="width:100%;" nz-input [(ngModel)]="innerRequest.request.name" />
      </nz-input-group>
      <nz-input-group style="width:100%;margin-top:4px;" [nzSize]="'default'" [nzAddOnBefore]="methodTpl">
        <ng-template #methodTpl>
          <nz-select style="width:80px;" [(ngModel)]="innerRequest.request.method">
            <nz-option *ngFor="let m of METHODS" [nzLabel]="m" [nzValue]="m"></nz-option>
          </nz-select>
        </ng-template>
        <input nz-input style="width:100%;" [(ngModel)]="innerRequest.request.url">
      </nz-input-group>
      <nz-tabset nzAnimated="false" nzSize="small" nzType="line" nzTabPosition="top" nzTabBarGutter="0">
        <nz-tab [nzTitle]="'Headers'">
          <textarea rows="4" nz-input [(ngModel)]="headersStr" [placeholder]="headerPlaceholder"></textarea>
        </nz-tab>
        <nz-tab [nzTitle]="'Body'">
          <textarea rows="4" nz-input [(ngModel)]="innerRequest.request.body" [placeholder]="bodyPlaceholder">
          </textarea>
        </nz-tab>
        <nz-tab [nzTitle]="'Feeder'">
          <app-feeder [(data)]="innerRequest.feeder"></app-feeder>
        </nz-tab>
        <nz-tab [nzTitle]="'Assertions'">
          <app-assertions [(data)]="innerRequest.assertions"></app-assertions>
        </nz-tab>
      </nz-tabset>
      <nz-divider [nzText]="injectionsTpl" nzOrientation="left">
        <ng-template #injectionsTpl>
          <span style="font-size:smaller;">{{'item.injections'|translate}}</span>
        </ng-template>
      </nz-divider>
      <div style="margin-bottom:4px;">
        <label nz-checkbox [(ngModel)]="innerRequest.verbose">
          <span>{{'tips.printResponse'|translate}}</span>
        </label>
        <nz-divider nzType="vertical"></nz-divider>
        <label nz-checkbox [(ngModel)]="innerRequest.loop.forever">
          <span>{{'tips.forever'|translate}}</span>
        </label>
        <nz-input-group style="width:160px;" nzSize="small" [nzAddOnBefore]="'tips.repeat'|translate">
          <nz-input-number style="width:100%;" [(ngModel)]="innerRequest.loop.repeat" nzSize="small" [nzMin]="1"
            [nzStep]="1">
          </nz-input-number>
        </nz-input-group>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-input-group style="width:284px;" nzSize="small" nzCompact [nzAddOnBefore]="'tips.maxDuration'|translate">
          <nz-input-number [(ngModel)]="innerRequest.maxDuration.value" nzSize="small" [nzMin]="1" [nzStep]="1">
          </nz-input-number>
          <nz-select style="width:84px;" [(ngModel)]="innerRequest.maxDuration.unit" nzSize="small">
            <nz-option *ngFor="let item of TIME_UNITS" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-input-group>
        <nz-divider nzType="vertical"></nz-divider>
      </div>
      <app-injections-builder [(data)]="innerRequest.injections"></app-injections-builder>
      <nz-divider [nzText]="throttleTpl" nzOrientation="left">
        <ng-template #throttleTpl>
          <span style="font-size:smaller;">{{'item.throttle'|translate}}</span>
        </ng-template>
      </nz-divider>
      <app-throttle [(data)]="innerRequest.throttle"></app-throttle>
    </nz-tab>
    <nz-tab [nzTitle]="'item.script'|translate">
      <div>
        <span style="color:lightseagreen;">
          <i class="click-icon" nz-icon nzType="sync" nzTheme="outline" (click)="loadSimulations()"></i>
          <span>{{'tips.lastCompileTime'|translate}}: </span>
        </span>
        <span style="margin-left:4px;font-size:small;color:lightcoral;">
          <i nz-icon nzType="number" nzTheme="outline"></i>
          <span>{{lastCompileTime}}</span>
        </span>
      </div>
      <nz-input-group style="width:100%;margin-top:4px;" [nzSize]="'default'" [nzAddOnBefore]="scriptTpl">
        <ng-template #scriptTpl>
          <div style="width:58px;text-align:left;">
            <span>{{'item.script'|translate}}</span>
          </div>
        </ng-template>
        <nz-select style="width: 100%;" [(ngModel)]="simulation" nzShowSearch>
          <nz-option *ngFor="let item of simulations" [nzValue]="item" [nzLabel]="item.name" nzCustomContent>
            <div>
              <div class="option-title">
                <nz-tag *ngFor="let p of item.protocols" style="margin-bottom:4px;">{{p}}</nz-tag>
                <span>{{item.name}}</span>
              </div>
              <div class="option-desc">{{item.description}}</div>
            </div>
          </nz-option>
        </nz-select>
      </nz-input-group>
      <div *ngIf="simulation&&simulation.description" class="desc" (click)="edit()">
        <nz-tag [nzColor]="'cyan'" *ngFor="let p of simulation.protocols">{{p}}</nz-tag>
        {{simulation.description}}
      </div>
    </nz-tab>
  </nz-tabset>
  <nz-divider [nzText]="'tips.selectWorkers'|translate" nzOrientation="left"></nz-divider>
  <app-member-selector [(data)]="selectedWorkers"></app-member-selector>
  <nz-divider style="width:100%;" [nzText]="'tips.runJob'|translate" nzOrientation="left"></nz-divider>
  <div style="padding:0 16px 16px 0;float:right;">
    <div class="btn-shoot" (click)="run()">
      <img class="shoot-img" src="./assets/img/shoot.jpg">
    </div>
  </div>
</div>
