/* You can add global styles to this file, and also import other style files */

i.click-icon {
  cursor: pointer;
}

i.click-icon:hover {
  transform: scale(1.2);
}

i.click-icon:active {
  font-weight: bold;
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
}

.ant-layout-content {
  min-height: auto;
}

.ant-input-group-addon {
  background-color: transparent;
}

.ant-transfer-list-header {
  text-align: left;
}

.ant-transfer-list-content-item {
  text-align: left;
}

.ant-breadcrumb-separator {
  margin: 0 4px;
}
