<nz-list [nzDataSource]="items" nzBordered [nzRenderItem]="item">
  <ng-template #item let-item>
    <nz-list-item>
      <div class="pea-item">
        <i nz-icon nzType="info-circle" nzTheme="outline" style="margin-right:4px;color:lightcoral;" nz-popover
          nzPopoverPlacement="topLeft" [nzPopoverContent]="contentTpl">
        </i>
        <ng-template #contentTpl>
          <app-oshi-info [data]="item.status.oshi" [label]="item.status.label"></app-oshi-info>
        </ng-template>
        <span class="pea-addr">
          <i nz-icon nzType="number" nzTheme="outline"></i>
          <span>{{item.member.address}}:{{item.member.port}}</span>
        </span>
        <span class="pea-hostname">
          <i nz-icon nzType="desktop" nzTheme="outline"></i>
          <span>{{item.member.hostname}}</span>
        </span>
        <span *ngIf="item.status" class="pea-status">
          <span>{{item.status.status}}</span>
        </span>
        <button nz-button nzType="dashed" nzSize="small" title="Stop" (click)="stop(item)">
          <i nz-icon nzType="stop" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="dashed" nzSize="small" title="Monitor" (click)="monitor(item)">
          <i nz-icon nzType="scan" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="dashed" nzSize="small" title="Open" (click)="openResource(item)">
          <i nz-icon nzType="folder-open" nzTheme="outline"></i>
        </button>
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>
