.title {
  font-weight: 500;
}

.item i {
  color: lightseagreen;
}

.item span {
  margin-left: 4px;
}

.time {
  margin-left: 8px;
}

.status {
  margin-left: 16px;
  color: purple;
}

.member {
  margin: 10px 0;
}
