.workers {
  cursor: pointer;
}

.tail {
  float: right;
  font-size: small;
}

.tail .status {
  font-weight: 500;
}

.time .label {
  color: lightseagreen;
}

.time .value {
  color: lightslategray;
  font-size: smaller;
}
