@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

i.reload {
  color: lightseagreen;
  font-size: 14px;
  margin-left: 4px;
}

i.reload:hover {
  color: lightcoral;
  animation: spin 1s linear infinite;
}

.sim {
  width: 100%;
}

.sim>.desc {
  color: lightgray;
  font-size: small;
}

.check-all {
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-bottom: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.tool {
  float: right;
}

.tool>button {
  margin-right: 8px;
  font-weight: 500;
}

.worker {
  padding: 4px 0;
  padding-left: 4px;
  cursor: pointer;
}

.worker:hover {
  background-color: lightpink;
}

.item i {
  color: lightseagreen;
}

.hostname {
  margin-left: 4px;
  color: lightgray;
  font-size: small;
}
