.workload {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid lightgray;
}

.line {
  width: 100%;
  margin-top: 4px;
}

.label {
  width: 84px;
  text-align: left;
}

.inj-type>i {
  color: lightseagreen;
}

.inj-type>span {
  color: gray;
  font-size: small;
  padding-left: 4px;
}

.inj-sum {
  margin-left: 4px;
}

.inj-sum>i {
  color: lightseagreen;
}

.inj-sum>span {
  color: gray;
  font-size: small;
  padding-left: 4px;
}
