.inj-type>i {
  color: lightseagreen;
}

.inj-type>span {
  color: gray;
  font-size: small;
  padding-left: 4px;
}

.inj-sum {
  margin-left: 4px;
}

.inj-sum>i {
  color: lightseagreen;
}

.inj-sum>span {
  color: gray;
  font-size: small;
  padding-left: 4px;
}
