<nz-divider [nzText]="addrTpl" nzOrientation="left">
  <ng-template #addrTpl>
    <span style="font-size:smaller;color:rebeccapurple;">
      <span>{{memberAddr()}}</span>
      <nz-divider nzType="vertical"></nz-divider>
      <span (click)="showConsole()" [title]="'tips.printResponse'|translate">
        <i class="click-icon" nz-icon nzType="code" nzTheme="outline"></i>
      </span>
    </span>
  </ng-template>
</nz-divider>
<div *ngIf="start">
  <div class="title">
    <span>
      <span class="label">{{'item.start'|translate}}: </span>
      <span class="value">{{start}}</span>
    </span>
    <span class="margin">
      <span class="label">{{'item.duration'|translate}}: </span>
      <span class="value">{{run}}</span>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span>
      <span class="label">{{'item.successful.count'|translate}}: </span>
      <span class="value">{{global.successfulCount}}</span>
    </span>
    <span class="margin">
      <span class="label">{{'item.fail.count'|translate}}: </span>
      <span class="value">{{global.failedCount}}</span>
    </span>
  </div>
  <div class="title">
    <span>
      <span class="label">{{'item.total'|translate}}: </span>
      <span class="value">{{total.total}}</span>
    </span>
    <span class="margin">
      <span class="label">{{'item.done'|translate}}: </span>
      <span class="value">{{total.done}}</span>
    </span>
    <span class="margin">
      <span class="label">{{'item.active'|translate}}: </span>
      <span class="value">{{total.active}}</span>
    </span>
    <span class="margin">
      <span class="label">{{'item.waiting'|translate}}: </span>
      <span class="value">{{total.waiting}}</span>
    </span>
  </div>
  <div class="table">
    <nz-table nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false" [nzData]="users">
      <thead>
        <tr>
          <th>{{'item.user'|translate}}</th>
          <th>{{'item.total'|translate}}</th>
          <th>{{'item.done'|translate}}</th>
          <th>{{'item.active'|translate}}</th>
          <th>{{'item.waiting'|translate}}</th>
          <th>{{'item.percent'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>{{item.name}}</td>
          <td>{{item.counters.total}}</td>
          <td>{{item.counters.done}}</td>
          <td>{{item.counters.active}}</td>
          <td>{{item.counters.waiting}}</td>
          <td>{{item.counters.percent}}%</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="table">
    <nz-table nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false" [nzData]="requests">
      <thead>
        <tr>
          <th>{{'item.request'|translate}}</th>
          <th>{{'item.successful.count'|translate}}</th>
          <th>{{'item.fail.count'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of requests">
          <td>{{item.name}}</td>
          <td>{{item.counters.successfulCount}}</td>
          <td>{{item.counters.failedCount}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="errors&&errors.length>0" class="table">
    <nz-table nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false" [nzData]="errors">
      <thead>
        <tr>
          <th>{{'item.error'|translate}}</th>
          <th>{{'item.count'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of errors">
          <td style="color:red;">{{item.name}}</td>
          <td>{{item.count}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="consoleVisible" class="console">
  <app-response-monitor [data]="member"></app-response-monitor>
</div>
