.title {
  padding-left: 8px;
}

.label {
  color: lightslategray;
  font-weight: 500;
}

.value {
  color: lightslategrey;
  font-weight: 500;
}

.margin {
  margin-left: 16px;
}

.table {
  margin-top: 8px;
}

.table th {
  padding: 0px;
  color: lightslategray;
}

.console {
  margin-top: 4px;
  padding: 4px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
